[submodule "third_party"]
	path = third_party
	url = https://github.com/smyte/third_party.git
[submodule "infra"]
	path = infra
	url = https://github.com/smyte/infra.git
[submodule "pipeline"]
	path = pipeline
	url = https://github.com/smyte/pipeline.git
[submodule "codec"]
	path = codec
	url = https://github.com/smyte/codec.git
[submodule "ratelimit"]
	path = ratelimit
	url = https://github.com/smyte/ratelimit.git
[submodule "stesting"]
	path = stesting
	url = https://github.com/smyte/stesting.git
